@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'components/topbar';

div.firstrow {
	margin-top: 5px !important;
}
div.fullwidthrow {
	position: relative;
	height: 200px !important;
	width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
	overflow: hidden;
}


.fullwidthcontent {
	position:absolute;
    bottom: 0px;
}

p.sectiontitle {
	border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    font-size: 12pt;
	font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
	max-width: 250px;
}

div.narrowrow {
	width: 80%;
	margin-top: 20px;
}

.logo-ccle {
    color: #ffbc00;
    font-size: 3.3rem;
    font-weight: bold;
	padding: 0px;
}

.logo-ucla {
	float: left;
    height: 38px;
    margin-right: 30px;
    margin-top: 20px;
    width: 119px;
	padding: 0px;
}

.list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

input[type="search"] {
    background: rgba(0, 0, 0, 0.03) url("../img/search-icon.png") no-repeat scroll 160px center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    font-size: 0.85em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 40px 5px 10px;
    transition: background-color 0.24s ease-in-out 0s;
    width: 200px;
    box-sizing: border-box;
}

p {
	font-size: 11px;
}

p.title {
	padding: 0px !important;
	font-size: 1em;
	font-weight: bold;
	margin-top: 2px;
}


p.weeklydisplay {
	text-align: right;
}

p.weeklydisplay span {
	background-color: #ffbc00;
	padding: 5px;
}

p.loginbuttongroup {
	text-align: right;
	margin-top: 20px !important;
	margin-bottom: 0px !important;
	padding-left: 10px;
}

.titletext {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2px;
}

.itemtext {
	font-size: 12px;
	margin-left: 2px;

}

input[type="checkbox"] {
	margin: 0px;
	padding: 0px;
}

ul.browseby {
	line-height: 1em !important;
}

ul.browseby li {
	margin-top: 10px;
}

a.browselink {
	font-size: 0.8em;
	font-weight: bold;
}

a.browselink:hover {
	background-color: #ffbc00;
	font-style: italic;
}

.footer {
    background-color: #347bad;
    clear: both;
    color: #fff;
    float: left;
    font-size: 12px;
    line-height: 10px;
    margin-top: 30px;
    padding: 15px 0 20px;
    width: 100%;
}

footer ul li {
	padding: 0px !important;
	margin: 0px !important;
	font-size: 1.06em;	
}

footer ul li a {
	color: #fff;
	padding: 0 0 10px 8px !important;
}

footer ul li a:hover {
	color: #fff;
	
}

